<?xml version="1.0" encoding="UTF-8"?>     
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">     
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >     
    <!-- 可以配置多个appender来对应不同的输出，如文件输出，sql输出，控制台输出，邮件输出等 -->    
    <!-- [控制台STDOUT] 不同的输出类型对应着不同的class，如控制台输出class对应着 org.apache.log4j.ConsoleAppender -->  
    <appender name="myConsole" class="org.apache.log4j.ConsoleAppender"> <!-- name提供给logger或者root调用 -->      
           
        <param name="encoding" value="UTF-8" />  <!-- 保存字符集 -->  
     	<param name="target" value="System.out" />  <!-- 输出到控制台 -->
     	
        <!-- loyout表示输出方式，可以多种，class值区分，PatternLayout表示自定义格式 -->   
        <layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern"        
                value="[%d{HH:mm:ss SSS\} %-5p] [%t] %l - %m%n" />     
        </layout>
        
        <!--filter过滤器设置输出的级别:ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF  
          所有下面输出的是debug到warn不会有error和fatal -->  
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="debug" />
            <param name="levelMax" value="error" />
            <!-- 答案：http://bbs.csdn.net/topics/350195913 -->  
            <param name="AcceptOnMatch" value="true" />  
        </filter>     
    </appender>
    
     <!-- [公共Appender] 这个class表示输入到文件，并且按日期生成新文件-->  
    <appender name="debugInfo" class="org.apache.log4j.DailyRollingFileAppender">  
        
        <!-- ${webapp.root}项目根路径，自动获得，不用配置，可自己在web.xml中配置 -->  
        <param name="File" value="../logs/debugInfo.log" />     
        
        <!-- 是否项目重启继续保存之前日志 -->     
        <param name="Append" value="true" />
        
        <!-- 保存字符集 -->
        <param name="encoding" value="UTF-8" />    
        
        <!-- 记录所有类型日志，记录它和比它等级高的日志all<debug -->   
        <param name="threshold" value="all" /> 
        
        <!-- 日期格式  例子：common-default.log.2015-09-17.log-->  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
             
        <layout class="org.apache.log4j.PatternLayout">     
         <param name="ConversionPattern" value="[%d{HH:mm:ss SSS\}] [%t] %c{3\} %l - %m%n" />     
        </layout>      
        
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="debug" />
            <param name="levelMax" value="debug" />
            <param name="AcceptOnMatch" value="true" />  
        </filter>  
    </appender>
    
     <!-- [公共Appender] 这个class表示输入到文件，并且按日期生成新文件-->  
    <appender name="info" class="org.apache.log4j.DailyRollingFileAppender">  
        
        <!-- ${webapp.root}项目根路径，自动获得，不用配置，可自己在web.xml中配置 -->  
        <param name="File" value="../logs/info.log" />     
        
        <!-- 是否项目重启继续保存之前日志 -->     
        <param name="Append" value="true" />
        
        <!-- 保存字符集 -->
        <param name="encoding" value="UTF-8" />    
        
        <!-- 记录所有类型日志，记录它和比它等级高的日志all<debug -->   
        <param name="threshold" value="all" /> 
        
        <!-- 日期格式  例子：common-default.log.2015-09-17.log-->  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
             
        <layout class="org.apache.log4j.PatternLayout"> 
         	<param name="ConversionPattern" value="[%d{HH:mm:ss SSS\}] [%t] %c{3\} %l - %m%n" />     
        </layout>      
        
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="info" />
            <param name="levelMax" value="info" />
            <param name="AcceptOnMatch" value="true" />  
        </filter>  
    </appender>
    
    <!-- 根logger的设置-->
    <root>     
        <appender-ref ref="myConsole"/>     
        <appender-ref ref="debugInfo"/>     
        <appender-ref ref="info"/>     
    </root> 
</log4j:configuration>